numpy
pandas
matplotlib
plotly
chart_studio
bokeh
k3d
autograd

requests
pytest

nbautoeval
ipythontutor

# tooling
jupyter
jupytext
jupyterlab-myst
jupyterlab-courselevels
ipywidgets
ipympl
jupyterlab-rise

# for authors only
# nbprune
# jupyter-book
