numpy
pandas
matplotlib
plotly
chart_studio
bokeh
k3d
autograd

requests
pytest

nbautoeval
ipythontutor

# tooling
jupyter
jupytext
jupyterlab-myst
jupyterlab-courselevels
jupyterlab-gridwidth
ipywidgets
ipympl
